<?xml version="1.0"?>
<launch>

    <!-- Load and parse robot model -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mamba_desktop)/urdf/mamba_gazebo.urdf.xacro'" />

    <!-- Robot State Publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	
	<!-- Joint State Publisher -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Load controllers configuration-->
    <rosparam file="$(find mamba_desktop)/config/controller_def.yaml" command="load"/>

    <!-- Load controllers -->
    <node 
        name="controller_spawner" 
        pkg="controller_manager" 
        type="spawner" 
        respawn="false"
        output="screen"
        args="joint_state_controller 
        mobile_base_controller"
    />

    <!-- Spawn position -->

    <arg name="x" default="2"/>
	<arg name="y" default="0"/>
	<arg name="th" default="3.1416"/>

    <!-- Spawn robot model -->
    <node 
        pkg="gazebo_ros" 
        type="spawn_model" 
        name="spawn_robot"
        respawn="false"
        args="  -param robot_description
                -urdf
                -model mamba 
                -x $(arg x) 
                -y $(arg y) 
                -Y $(arg th)"
    />

</launch>