<?xml version="1.0"?>
<launch>

	<!-- Load and parse robot model -->
 	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mamba_description)/urdf/mamba.urdf.xacro'" />
	
	<!-- Robot State Publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	
	<!-- Joint State Publisher -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	

	<!-- Visualization / RViz -->
	<node name="rviz" pkg="rviz" type="rviz" args=" -d $(find mamba_description)/config/config_visual.rviz"/>

</launch>
